COMPOSE_PROJECT_NAME=domain-availability

COMPOSE_FILE=docker-compose.yml

TZ=Etc/UTC

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=domain-availability
MYSQL_UPLOAD_LIMIT=256M

REDIS_PASSWORD=r_password

HOST=domain-availability.loc